/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	background-color: #BCB8AD;
}
p {
	font-size:18px;
}
h1 {
	font-size:18px;
}

.item {
		color:black;
}

.paycheck {
	text-align: center;
}

input {
		position: relative;
		display: inline-block;
		padding: 0.25em 0.5em;
		text-decoration: none;
		color: #FFF;
		background: #fd9535;/*色*/
		border-radius: 4px;/*角の丸み*/
		box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
		font-weight: bold;
		border: solid 2px #d27d00;/*線色*/
}
 input:hover {
	 box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
 }

a {
		position: relative;
		padding-left: 25px;
}
a:before {
		position: absolute;
		content: '';
		bottom: -3px;
		left: 0;
		width: 0;
		height: 0;
		border: none;
		border-left: solid 15px transparent;
		border-bottom: solid 15px #474859;
		text-decoration: none ;
}

a:after {/*タブ*/
		position: absolute;
		content: '';
		bottom: -3px;
		left: 10px;
		width: 100%;
		border-bottom: solid 3px #474859;
  }
